@import './snow.css';

@tailwind base;

@tailwind components;

@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
.left-4 {
    left: 0.5rem;
}
.phone-scroll {
    -webkit-overflow-scrolling: touch;
}
html {
    scroll-behavior: smooth;
}
a {
    @apply text-brown font-bold;
}
.top-1 {
    top: 1rem;
}
.top-2 {
    top: 2rem;
}
.top-3 {
    top: 3rem;
}
.top-4 {
    top: 4rem;
}
.nav-link {
    @apply text-2xl cursor-pointer text-center mr-4
}
.nav-link {
    @screen md {
        @apply mr-6
    }
}

.active-nav-link {
    @apply text-red
}

.hamburger-item {
    @apply border-2 rounded-full border-t-0 border-l-0 border-r-0 h-1
}

.notifications-container {
    @apply fixed bg-brown-lightest overflow-y-scroll top-0 bottom-0 right-0 left-0 px-4 pt-16 pb-4 z-10;
}

.input {
    @apply block w-full outline-none rounded-lg h-10 text-center bg-brown-lightest text-lg
}
.input:focus {
    @apply shadow-lg
}

.notifications-container {
    @screen sm {
        height: 500px;
        width: 350px;
        top: 25px;
        @apply m-10 pt-2 pb-2
    }
}

.drop-enter-active, .drop-leave-active {
    transition: height .3s ease;
}
.drop-enter, .drop-leave-to {
    height: 0;
}

.card {
    @apply w-full bg-white shadow-lg mb-6 rounded-t rounded-b-lg
}
.replies-container {
    max-height: 400px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.reply-container {
    @apply w-full rounded-t rounded-b-lg p-2 bg-brown-lightest
}
.card {
    @screen md {
        max-width: 350px;
    }
}

.search-input {
    border-bottom: 2px solid;
    @apply text-3xl bg-brown-lightest outline-none border-green font-thin
}
.results-container {
    height: calc(100vh - 9.5rem);
    @apply overflow-y-auto
}
.btn {
@apply border py-1 px-4 rounded-full cursor-pointer
}
.btn-sm {
@apply border px-2 rounded-full cursor-pointer
}
.btn-green {
    @apply border-green bg-green text-white
}
.btn-green:hover {
    @apply bg-green-light border-green-light
}
.btn-outline-green {
    @apply border-green text-green
}
.btn-outline-red {
    @apply border-red text-red
}
.btn-red {
    @apply border-red bg-red text-white
}
.btn-brown {
    @apply border-brown bg-brown text-white
}
.btn-black {
    @apply border-black bg-black text-white
}
.btn-outline-black {
    @apply border-black text-black
}
.btn-outline-amber {
    @apply border-amber text-amber
}

.animate {
    transition: all ease-in-out 300ms;
}

.icon:active {
    animation: pulse 250ms ease;
    animation-fill-mode: forwards;
}

@keyframes pulse {
    0%{transform: scale(1)}
    50%{transform: scale(1.3)}
    100%{transform: scale(1)}
  }
