<template>
	<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		viewBox="0 0 38.9 10.7" style="enable-background:new 0 0 38.9 10.7;" xml:space="preserve">
	<g>
		<path d="M9.7,9C9.2,6.9,8.6,4.8,8.1,2.8c0,0,0,0,0,0c0,0.8,0,1.5,0,2.3c0,0,0,0,0,0C8,5,8,5,8,4.9C7.7,5,7.5,5.1,7.3,5.2
			c0,0-0.1,0-0.1,0.1c-0.1,0.1-0.2,0-0.2,0C6.8,5.1,6.7,5,6.6,5c0,0-0.1-0.1,0-0.1C6.7,4.6,6.8,4.3,6.9,4C6.8,4,6.6,3.9,6.5,3.9
			C6.4,4.1,6.3,4.4,6.2,4.6C6.1,4.5,5.9,4.3,5.8,4.2C5.6,4.1,5.6,4,5.6,3.8c0-0.3,0-0.6,0-0.9c0-0.1,0-0.1,0.1-0.1
			c0.7-0.3,1.4-0.6,2.1-1c0.5-0.2,1-0.4,1.4-0.7C9.4,1,9.5,1,9.7,0.9c0.5,1.8,0.9,3.6,1.4,5.4c0,0,0,0,0,0c0.1-0.6,0.3-1.1,0.4-1.7
			c0.2,0.1,0.4,0.2,0.7,0.3c-0.3,1.2-0.5,2.3-0.8,3.5c0,0,0,0,0,0c-0.1-0.3-0.2-0.6-0.3-0.9c-0.3-0.8-0.6-1.6-0.9-2.4
			c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.2,0.1-0.3,0.1C9.8,5.5,9.9,5.8,10.1,6c0.3,0.9,0.6,1.7,0.9,2.6c0,0,0,0.1,0,0.1
			c-0.2,0.3-0.5,0.6-0.7,1c-0.1-0.1-0.1-0.2-0.2-0.3c0,0,0-0.1,0-0.1c0.1-0.3,0.3-0.6,0.4-0.9c-0.1-0.1-0.2-0.1-0.4-0.2
			C10,8.4,9.9,8.7,9.7,9z"/>
		<path d="M15.9,1.9c-0.2,1-0.4,1.9-0.7,2.9c0.1,0,0.2,0.1,0.4,0.1c0,0,0.1,0,0.1-0.1c0.2-0.7,0.3-1.3,0.5-2c0.1-0.3,0.1-0.6,0.2-1
			c0,0,0-0.1,0.1-0.1c0.1,0,0.1,0,0.2,0c0,1.7,0,3.3,0,5c-0.1-0.1-0.2-0.1-0.3-0.2c-0.4-0.2-0.8-0.4-1.2-0.6
			c-0.3-0.1-0.6-0.3-0.8-0.4c-0.1,0-0.1-0.1-0.1-0.2c0-0.8,0-1.6,0-2.5c0,0,0-0.1,0-0.1c0,0,0,0,0,0c-0.2,0.8-0.4,1.6-0.6,2.4
			C13.2,5,13,4.9,12.7,4.8c0,0,0-0.1,0-0.1c0.1-0.4,0.2-0.9,0.3-1.3c-0.1,0-0.3-0.1-0.4-0.1c-0.1,0.4-0.2,0.8-0.3,1.3
			c-0.1-0.1-0.3-0.1-0.4-0.2c-0.3-0.1-0.3-0.1-0.2-0.4c0.1-0.3,0.2-0.7,0.3-1c0-0.1,0-0.1,0.1-0.1c0.7-0.1,1.4-0.3,2-0.4
			c0.5-0.1,1-0.2,1.5-0.3C15.7,2,15.8,2,15.9,1.9z"/>
		<path d="M16.6,10.1C16.6,10.1,16.5,10.1,16.6,10.1c-0.5,0-0.8,0-1.2,0c-0.1,0-0.1,0-0.1-0.1c-0.1-0.1-0.2-0.3-0.3-0.4
			c0,0,0-0.1,0-0.1c0-0.2,0.1-0.4,0.2-0.6c0-0.2,0-0.2,0.2-0.2c0.3-0.1,0.6-0.1,1-0.2c0,0,0,0,0-0.1c0-0.1,0-0.2-0.1-0.3
			c-0.3,0.1-0.7,0.1-1,0.2c0.1-0.3,0.1-0.6,0.2-0.8c-0.1,0-0.3-0.1-0.4-0.1c0,0.2-0.1,0.3-0.1,0.5c0,0.2-0.1,0.3-0.1,0.5
			c0,0,0,0.1-0.1,0.1c-0.2,0-0.3,0.1-0.5,0.1c-0.1,0-0.2-0.1-0.2-0.2c0-0.2,0-0.4,0-0.6c0-0.5,0-1,0-1.5c0,0,0-0.1,0-0.1
			c0.2,0.1,0.3,0.2,0.5,0.3c0.4,0.2,0.8,0.4,1.1,0.6c0.3,0.1,0.5,0.3,0.8,0.4c0,0,0.1,0.1,0.1,0.1c0,0.4,0,0.9,0,1.3
			c0,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0.1c0.1,0.2,0.1,0.4,0.1,0.6C16.6,9.6,16.6,9.9,16.6,10.1z"/>
		<path d="M12.1,2.3c0.2-0.7,0.3-1.3,0.5-2c0.1,0,0.1,0,0.2,0c0,0.2-0.1,0.3-0.1,0.5c0.1,0,0.3,0.1,0.4,0.1c0-0.2,0.1-0.4,0.1-0.6
			c0.3,0,0.7,0,1,0c0,0,0.1,0,0.1,0.1c0,0,0.1,0.1,0.1,0.2c0.1-0.1,0.2-0.1,0.3-0.2c0,0,0.1,0,0.1,0c0.4,0,0.9,0,1.3,0c0,0,0,0,0.1,0
			c-0.1,0.4-0.2,0.7-0.3,1.1c0,0,0,0.1-0.1,0.1c-0.6,0.1-1.2,0.3-1.9,0.4c-0.5,0.1-1,0.2-1.5,0.3C12.4,2.3,12.3,2.3,12.1,2.3z"/>
		<path d="M23,2c0-0.1-0.1-0.3-0.1-0.4c-0.8,0.2-1.5,0.3-2.3,0.5c0-0.1,0.1-0.2,0.1-0.3c0.1-0.3,0.2-0.6,0.3-0.9c0-0.1,0-0.1,0.1-0.1
			c0.3,0,0.5-0.1,0.8-0.2c0-0.1,0-0.2-0.1-0.3c0.9,0,1.7,0,2.6,0c0,0.1-0.1,0.1-0.1,0.2c-0.4,0.6-0.8,1.3-1.2,1.9
			c0,0.1-0.1,0.1-0.2,0.1c-0.3,0-0.7,0-1,0c0,0-0.1,0-0.1,0c0-0.1,0.1-0.2,0.1-0.4c0,0,0.1-0.1,0.1-0.1C22.3,2.1,22.6,2,23,2z"/>
		<path d="M19.9,6.2c-0.1,0.3-0.2,0.6-0.3,0.9c0.1,0,0.2,0.1,0.4,0.1c0.1-0.2,0.2-0.5,0.3-0.7C20.8,7,21.4,7.5,22,8
			c-0.1,0.1-0.1,0.2-0.2,0.3c-0.1-0.1-0.1-0.2-0.2-0.3c-0.1,0-0.2,0.1-0.3,0.1c-0.4,0.2-0.8,0.3-1.2,0.5c0,0-0.1,0-0.1,0
			C19.6,8.3,19,8,18.4,7.7c0.1-0.2,0.1-0.4,0.2-0.6c0.1-0.4,0.3-0.7,0.4-1.1c0-0.1,0.1-0.2,0.3-0.3c0.1,0,0.2,0,0.2,0
			C19.7,6,19.8,6.1,19.9,6.2z"/>
		<path d="M1.4,7.1c0.1-0.3,0.2-0.5,0.3-0.7c0.6,0.5,1.1,1,1.7,1.5C3.3,8,3.2,8.1,3.2,8.2C3.1,8.1,3.1,8,3,7.9C2.2,8.3,1.3,8.7,0.5,9
			c0,0,0-0.1,0-0.1c0-1,0-2,0-3c0-0.1,0-0.1,0.1-0.1c0,0,0,0,0,0c0.3-0.1,0.3-0.1,0.5,0.1C1.2,6,1.2,6,1.3,6.1C1.2,6.3,1.1,6.6,1,6.8
			C1,6.9,1,7,1.1,7C1.2,7,1.3,7.1,1.4,7.1z"/>
		<path d="M26,8.1c0.2-0.3,0.4-0.6,0.6-0.9C26.5,7.1,26.4,7,26.3,7c-0.2,0.3-0.3,0.5-0.5,0.8C25.7,7.9,25.6,8,25.6,8
			c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1-0.1c-0.1-0.2-0.1-0.3-0.2-0.5c0-0.1,0-0.1-0.1-0.1c-0.1,0-0.2,0.1-0.2,0.1c-0.1,0-0.1,0,0,0.1
			C24.9,7.8,25,8,25,8.1c-0.4,0-0.7,0-1,0c0.1-0.3,0.2-0.6,0.3-0.9c0.1-0.3,0.2-0.6,0.3-0.9c0,0,0.1-0.1,0.1-0.1
			C25,6.1,25.2,6,25.5,5.9c0,0,0.1,0,0.1,0c0.3,0.2,0.5,0.5,0.8,0.7c0,0,0.1,0.1,0.1,0.1c0.1-0.1,0.2-0.2,0.3-0.3
			c-0.3-0.2-0.5-0.5-0.8-0.7c0.2-0.1,0.3-0.1,0.5-0.2c0,0,0,0.1,0,0.1c0.3,0.8,0.6,1.5,0.9,2.3c0,0.1,0,0.2-0.1,0.2
			c-0.1,0-0.3,0-0.4,0C26.5,8.1,26.3,8.1,26,8.1z"/>
		<path d="M35.6,8.2c-0.1,0-0.2-0.1-0.3-0.1c-0.2,0.5-0.5,0.8-0.8,1.2c-0.1-0.4-0.3-0.7-0.4-1c-0.1,0-0.3,0.1-0.4,0.1
			c0.1,0.4,0.3,0.7,0.4,1.1c0.1,0.2,0.1,0.3-0.1,0.4c-0.1,0.1-0.2,0.3-0.3,0.4c0,0-0.1,0-0.1,0c-0.2,0-0.5,0-0.7,0c0,0-0.1,0-0.1-0.1
			c-0.2-0.3-0.4-0.7-0.6-1c-0.1-0.1,0-0.2,0-0.2c0.1-0.2,0.1-0.4,0.2-0.7c0-0.1,0-0.1,0.1-0.1C33,8.2,33.4,8.1,33.9,8
			c0.3,0,0.6-0.1,0.8-0.3c0.1-0.1,0.3-0.1,0.4-0.1c0.2,0,0.4,0.1,0.6,0.1c0.1,0,0.1,0,0.1,0.1C35.7,8,35.7,8.1,35.6,8.2z"/>
		<path d="M8.1,8C8,8.1,7.9,8,7.9,7.9c0-0.1-0.1-0.1-0.1-0.1c-0.1,0-0.1,0-0.2,0.1c0,0,0,0-0.1,0c0,0,0,0-0.1,0.1c0,0,0,0,0,0
			C7.6,7.7,7.8,7.4,8,7.1C7.9,7,7.8,7,7.7,6.9C7.6,7,7.5,7.1,7.5,7.2C7.3,7.4,7.1,7.7,7,8C6.9,8,6.9,8,6.9,8c-0.4,0-0.8,0-1.2,0
			c0-0.3,0-0.7,0.1-1C5.9,6.8,5.9,6.6,6,6.3c0-0.1,0.1-0.1,0.2-0.2C6.4,6,6.6,5.9,6.9,5.8c0.1,0,0.1,0,0.1,0c0.3,0.3,0.6,0.5,0.9,0.8
			C7.9,6.6,8,6.5,8.1,6.4C8.1,6.9,8.1,7.5,8.1,8z"/>
		<path d="M5.6,2.3c0-0.3,0-0.6,0-0.9c0-0.1,0.1-0.1,0.1-0.2C5.9,0.9,6,0.7,6.2,0.4c0,0,0.1-0.1,0.1-0.1c1.1,0,2.2,0,3.2,0
			c0,0,0,0,0,0c0,0.1,0,0.1,0,0.1C8.7,0.9,7.9,1.2,7.1,1.6C6.7,1.8,6.2,2,5.7,2.2C5.7,2.3,5.7,2.3,5.6,2.3z"/>
		<path d="M35.6,5c0-0.3-0.1-0.6-0.1-0.8c-0.1-0.5-0.3-1-0.7-1.3c-0.2-0.2-0.5-0.3-0.8-0.3c0-0.1,0-0.1,0-0.2c0-0.2,0.1-0.4,0.1-0.5
			c0-0.1,0-0.1,0.1-0.1c0.5-0.1,1-0.2,1.4-0.3c0.1,0,0.2,0,0.2,0.1C36,1.8,36.2,2,36.3,2.2c0,0,0,0.1,0,0.1c-0.1,0.6-0.3,1.1-0.4,1.7
			C35.8,4.3,35.7,4.7,35.6,5z"/>
		<path d="M31.1,7.2c-0.1,0.1-0.2,0.1-0.3,0.2c0.1,0.2,0.3,0.4,0.4,0.7c-0.5,0.1-0.9,0.2-1.4,0.3c-0.1,0-0.2,0-0.3,0.1
			c0,0-0.1,0-0.1,0c0,0,0,0,0,0c-0.2-0.3-0.2-0.3-0.1-0.7c0.1-0.3,0.2-0.7,0.2-1c0-0.1,0-0.1,0.1-0.1C30.3,6.7,31,6.8,31.7,7
			c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.2,0.3,0.3,0.4c0,0,0.1,0.1,0,0.1c-0.1,0.3-0.1,0.3-0.3,0.3c-0.1,0-0.2,0-0.3,0c-0.1,0-0.1,0-0.1,0
			C31.4,7.7,31.2,7.4,31.1,7.2z"/>
		<path d="M30.6,3.1c-0.2-0.5-0.4-1.1-0.6-1.6c0-0.1,0-0.1,0.1-0.2c0.5-0.5,1.2-0.7,1.9-0.9c0.1,0,0.3-0.1,0.4-0.1
			c0.1,0,0.1,0,0.1,0.1c0.1,0.3,0.2,0.5,0.3,0.8c0,0.1,0,0.2,0,0.2c-0.2,0.3-0.5,0.6-0.7,0.9C32,2.2,31.9,2,31.8,1.9c0,0,0-0.1,0-0.1
			C32,1.6,32.1,1.3,32.3,1c0,0,0-0.1,0-0.1c-0.1-0.1-0.2-0.1-0.4-0.2c-0.1,0.1-0.1,0.3-0.2,0.4c-0.2,0.3-0.3,0.6-0.5,1
			c-0.1,0.3-0.3,0.6-0.4,0.8C30.8,3,30.7,3,30.6,3.1z"/>
		<path d="M25.5,4.1c-0.1,0-0.2-0.1-0.3-0.1c0,0-0.1,0-0.1,0.1c-0.1,0.2-0.2,0.4-0.3,0.7c-0.6-0.5-1.1-1-1.7-1.5
			c0.1-0.1,0.1-0.2,0.2-0.3c0.1,0.1,0.1,0.2,0.1,0.3c0.6-0.3,1.2-0.5,1.8-0.8c0.3,0.7,0.5,1.4,0.8,2.2c-0.3,0.1-0.5,0.2-0.8,0.3
			C25.3,4.5,25.4,4.3,25.5,4.1z"/>
		<path d="M2.5,2.9C2.4,3.3,2.2,3.6,2.1,4C2,4.2,1.9,4.5,1.8,4.7c0,0-0.1,0.1-0.1,0.1C1.5,5,1.2,5.1,1,5.2c0,0-0.1,0-0.1,0
			C0.8,5.1,0.7,5,0.6,4.9C0.5,4.8,0.5,4.7,0.5,4.6c0-0.3,0-0.5,0-0.8c0-0.1,0.1-0.2,0.1-0.3C0.7,3.3,0.8,3.2,0.9,3C0.9,3,1,2.9,1,2.9
			C1.5,2.9,2,2.9,2.5,2.9z"/>
		<path d="M22.3,4.5c-0.2,0.7-0.4,1.3-0.6,1.9c0.5,0,1,0,1.5,0c0,0,0,0,0,0c-0.2,0.1-0.3,0.1-0.5,0.2c-0.4,0.2-0.7,0.3-1,0.5
			c-0.1,0-0.2,0-0.2,0c-0.1-0.1-0.3-0.2-0.4-0.3c-0.2-0.2-0.5-0.4-0.7-0.6c-0.1,0-0.1-0.1,0-0.2c0.1-0.2,0.2-0.5,0.3-0.7
			c0,0,0-0.1,0.1-0.1C21.3,4.9,21.8,4.7,22.3,4.5z"/>
		<path d="M11.4,8.6c0.1,0,0.2,0,0.3,0.1c0.3-1.2,0.5-2.3,0.8-3.5c0.3,0.1,0.5,0.3,0.7,0.4c0.1,0,0,0.1,0,0.1
			c-0.2,0.8-0.4,1.6-0.6,2.5c0,0.2-0.1,0.4-0.1,0.5c0,0-0.1,0.1-0.1,0.1c-0.3,0.1-0.6,0.1-0.9,0.2c0,0-0.1,0-0.1,0
			C11.5,8.8,11.5,8.7,11.4,8.6z"/>
		<path d="M37.8,4.6c0.1,0.1,0.1,0.2,0.2,0.3c0,0,0,0.1,0,0.1c-0.1,0.3-0.3,0.6-0.4,0.9c0.1,0.1,0.2,0.1,0.4,0.2
			c0.2-0.5,0.5-1,0.7-1.5c0.1,1.1,0,2.2-0.5,3.2c0,0,0,0,0,0c-0.3,0-0.3,0-0.4-0.3c-0.2-0.6-0.5-1.3-0.7-1.9c0-0.1,0-0.1,0-0.2
			C37.3,5.2,37.5,4.9,37.8,4.6z"/>
		<path d="M3.5,4.5c0,0,0,0.1,0,0.1c0,0.7,0,1.4,0,2.1c0,0.1,0,0.1-0.1,0.1C3.3,7,3.2,7,3.1,7C3,7,3,7,3,7C2.8,6.9,2.6,6.7,2.4,6.5
			C2.2,6.4,2,6.2,1.8,6c0,0,0-0.1,0-0.1C1.9,5.7,2,5.4,2.1,5.2c0,0,0,0,0.1-0.1C2.6,4.9,3,4.7,3.5,4.5z"/>
		<path d="M36.1,7.9c0.1,0,0.3,0.1,0.4,0.1c0.3,0.1,0.6,0.1,0.9,0.2c0.1,0,0.1,0,0.1,0.1c0,0,0,0,0,0c0.1,0.2,0.1,0.4-0.1,0.6
			c-0.5,0.5-1,0.9-1.7,1.1c0,0-0.1,0-0.1,0C35.8,9.3,36,8.6,36.1,7.9z"/>
		<path d="M0.5,10.1c0-0.2,0-0.4,0-0.6c0,0,0-0.1,0.1-0.1C0.9,9.3,1.2,9.1,1.6,9c0.3-0.1,0.5-0.2,0.8-0.4c0.2-0.1,0.5-0.2,0.7-0.3
			C3,8.5,2.8,8.7,2.7,8.9C2.5,9.3,2.2,9.7,2,10.1c0,0-0.1,0.1-0.1,0.1C1.4,10.1,1,10.1,0.5,10.1C0.5,10.1,0.5,10.1,0.5,10.1z"/>
		<path d="M6.1,10.1c0.2-0.3,0.3-0.5,0.5-0.8C6.7,9.2,6.8,9,6.9,8.8c0,0,0.1-0.1,0.1-0.1c0.2-0.1,0.4-0.1,0.7-0.1
			c0,0.1,0.1,0.3,0.1,0.4C7.9,9.1,8,9.3,8,9.4c0,0.2,0.1,0.4,0.1,0.7C7.4,10.1,6.8,10.1,6.1,10.1z"/>
		<path d="M3.5,0.4c0,0.1,0,0.1,0,0.2c0,0.3,0,0.7,0,1c0,0.1,0,0.1-0.1,0.1C2.9,1.8,2.5,1.9,2.1,2C1.9,2,1.7,2,1.5,2.1
			c0.1-0.2,0.2-0.4,0.3-0.5c0.2-0.4,0.5-0.7,0.7-1.1c0-0.1,0.1-0.1,0.1-0.1C2.9,0.4,3.2,0.4,3.5,0.4z"/>
		<path d="M31.6,10c-0.7-0.2-1.4-0.6-1.9-1.2c-0.1-0.1,0-0.1,0-0.1c0.5-0.1,1-0.2,1.4-0.3c0,0,0.1,0,0.1,0c0.1,0.2,0.3,0.5,0.4,0.7
			c0,0,0,0.1,0,0.1C31.8,9.5,31.7,9.8,31.6,10C31.6,10,31.6,10,31.6,10z"/>
		<path d="M0.5,2.3c0-0.6,0-1.3,0-1.9c0.5,0,1.1,0,1.6,0C2,0.5,1.9,0.7,1.8,0.9C1.5,1.3,1.2,1.7,1,2.1c0,0.1-0.1,0.1-0.2,0.1
			C0.7,2.2,0.6,2.3,0.5,2.3z"/>
		<path d="M37,1.2c0.3,0.2,0.5,0.4,0.7,0.7c0.3,0.4,0.5,0.7,0.6,1.2c0,0,0,0.1,0,0.1c-0.2,0.2-0.3,0.4-0.5,0.6c0-0.1-0.1-0.1-0.1-0.1
			c-0.3-0.5-0.6-1-0.9-1.5c0-0.1,0-0.1,0-0.2C36.8,1.8,36.9,1.5,37,1.2C37,1.3,37,1.2,37,1.2z"/>
		<path d="M30.8,4.6c0.1,0.4,0.3,0.7,0.4,1c0.1,0,0.2-0.1,0.4-0.1c0,0.3,0.1,0.7,0.1,1c-0.7-0.1-1.3-0.3-2-0.4c0-0.1,0.1-0.3,0.1-0.4
			c0.1,0,0.2,0.1,0.3,0.1C30.1,5.3,30.5,5,30.8,4.6z"/>
		<path d="M21.1,3c-0.1,0.2-0.2,0.4-0.2,0.6c-0.1,0.4-0.3,0.8-0.4,1.1c0,0.1-0.1,0.1-0.1,0.2c-0.2,0.1-0.4,0.2-0.7,0.3
			c-0.1,0-0.1,0-0.2,0s0-0.1,0-0.1c0.2-0.7,0.5-1.3,0.7-2C20.2,3,20.2,3,20.3,3c0.2,0,0.4,0,0.7,0C21,3,21.1,3,21.1,3z"/>
		<path d="M29.7,3.8c-0.2,0.7-0.3,1.5-0.5,2.2c-0.2,0-0.4-0.1-0.7-0.1c0-0.3,0-0.5,0-0.8c0-0.3,0-0.6,0.1-0.9c0,0,0-0.1,0.1-0.1
			C29,4,29.3,3.9,29.7,3.8C29.7,3.8,29.7,3.8,29.7,3.8z"/>
		<path d="M35.6,1.1c-0.2,0-0.3,0.1-0.4,0.1c-0.5,0.1-1,0.2-1.4,0.3c-0.1,0-0.2,0-0.3,0.1c0,0-0.1,0-0.1,0c0-0.1-0.1-0.2-0.1-0.3
			c0.1,0,0.2,0,0.3,0.1c0.1-0.3,0.2-0.7,0.2-1c0.1,0,0.3,0,0.4,0c0.3,0,0.6,0.1,0.9,0.1c0,0,0.1,0,0.1,0.1
			C35.3,0.6,35.5,0.8,35.6,1.1z"/>
		<path d="M17.9,10.1c0.2-0.1,0.4-0.2,0.5-0.2c0.4-0.2,0.8-0.4,1.2-0.6c0.1-0.1,0.3-0.1,0.4-0.2c0,0,0.1,0,0.1,0
			c0.2,0.1,0.4,0.2,0.6,0.3c0,0,0,0.1,0,0.1c0,0.2-0.1,0.3-0.1,0.5c0,0.1-0.1,0.2-0.2,0.2C19.6,10.1,18.8,10.1,17.9,10.1
			C17.9,10.1,17.9,10.1,17.9,10.1z"/>
		<path d="M30.1,2.9c-0.1,0-0.1,0-0.2,0c0,0.1-0.1,0.3-0.1,0.4c0,0,0,0.1-0.1,0.1c-0.4,0.1-0.7,0.2-1.1,0.3c0-0.5,0.6-1.6,1-2
			C29.9,2.1,30,2.5,30.1,2.9z"/>
		<path d="M22.6,3.2c-0.2,0.3-0.3,0.5-0.5,0.8c0,0,0.1,0,0.1,0.1c-0.4,0.2-0.8,0.4-1.2,0.5c0.1-0.2,0.2-0.4,0.2-0.6
			c0.1-0.3,0.2-0.6,0.4-0.9C21.5,3,21.6,3,21.6,3c0.3,0,0.5,0,0.8,0C22.5,3.1,22.5,3.2,22.6,3.2z"/>
		<path d="M36.4,4c0,0-0.1,0-0.1,0c0.1-0.4,0.2-0.9,0.3-1.3c0.1,0.2,0.3,0.5,0.4,0.7c0.1,0.2,0.3,0.5,0.4,0.7c0,0.1,0.1,0.1,0,0.2
			c-0.2,0.2-0.3,0.4-0.5,0.6c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.1-0.1C36.6,4.5,36.5,4.3,36.4,4z"/>
		<path d="M22.7,8.1C22.6,8.1,22.6,8,22.5,8c0,0-0.1-0.1,0-0.1c0.2-0.2,0.3-0.5,0.4-0.7c0,0,0,0,0-0.1c0,0-0.1,0-0.1-0.1
			c0.4-0.2,0.8-0.4,1.2-0.5C24.1,6.6,24,6.8,24,6.9c-0.1,0.4-0.3,0.8-0.4,1.2c0,0,0,0.1-0.1,0.1C23.2,8.1,22.9,8.1,22.7,8.1z"/>
		<path d="M24.6,0.7C24.8,1.2,25,1.6,25.1,2c-0.6,0.3-1.1,0.5-1.7,0.8C23.8,2.1,24.2,1.4,24.6,0.7z"/>
		<path d="M36.5,5.4c0,0.1,0.1,0.2,0.1,0.3c-0.1,0-0.2,0-0.3-0.1c-0.1,0-0.1,0-0.1,0.1C36.1,6.1,36,6.6,35.9,7c0,0.1-0.1,0.2-0.1,0.4
			c0,0.1,0,0.1-0.1,0.1c-0.2,0-0.4-0.1-0.6-0.1c0-0.1,0.1-0.1,0.1-0.2c0.2-0.4,0.3-0.8,0.3-1.2c0-0.1,0-0.2,0-0.3
			c0-0.1,0-0.1,0.1-0.1C36,5.5,36.2,5.4,36.5,5.4z"/>
		<path d="M25.7,8.8c0.5-0.1,0.9-0.2,1.4-0.3C27,8.6,27,8.7,26.9,8.8c-0.2,0.4-0.4,0.8-0.6,1.2c0,0,0,0.1-0.1,0.1
			c-0.1,0-0.1-0.1-0.1-0.1C26,9.6,25.9,9.2,25.7,8.8z"/>
		<path d="M3.5,2.9c0,0.2,0,0.4,0,0.6c0,0.1,0,0.3,0,0.4c0,0,0,0.1,0,0.1C3.1,4.3,2.7,4.4,2.3,4.6c0.1-0.3,0.2-0.6,0.4-1
			c0.1-0.2,0.1-0.4,0.2-0.6C2.9,3,3,3,3,3C3.2,3,3.3,2.9,3.5,2.9z"/>
		<path d="M18.4,8.8c0,0,0-0.1,0-0.2c-0.1,0-0.1-0.1-0.2-0.1c0-0.1,0.1-0.3,0.1-0.4c0.5,0.2,0.9,0.5,1.4,0.7
			c-0.6,0.3-1.1,0.5-1.7,0.8c0,0,0,0,0,0C18.1,9.3,18.2,9.1,18.4,8.8z"/>
		<path d="M37.3,7.7c-0.4-0.1-0.7-0.2-1.1-0.2c0.1-0.6,0.3-1.1,0.4-1.7c0,0,0,0,0,0C36.9,6.4,37.1,7.1,37.3,7.7z"/>
		<path d="M2.4,10.1c0.3-0.5,0.7-1.1,1-1.6c0,0.6,0,1.1,0,1.6C3.1,10.1,2.8,10.1,2.4,10.1z"/>
		<path d="M23.6,5.3c-0.1-0.4-0.2-0.8-0.4-1.2c0.1,0,0.1-0.1,0.2-0.1c0,0,0,0,0.1,0c0.2,0.2,0.4,0.3,0.5,0.5c0.2,0.1,0.3,0.3,0.5,0.4
			c0,0,0,0,0,0.1C24.2,5.1,23.9,5.2,23.6,5.3z"/>
		<path d="M31.5,5.4c0-0.1-0.1-0.2-0.1-0.3c-0.1-0.3-0.2-0.5-0.3-0.8c0,0,0-0.1,0-0.1c0.3-0.4,0.5-0.7,0.8-1.1c0,0,0.1,0,0.1-0.1
			c0,0,0.1,0.1,0.1,0.1C31.5,3.8,31.5,4.6,31.5,5.4z"/>
		<path d="M11.6,10.1c-0.3,0-0.7,0-1,0c0,0-0.1,0-0.1,0c0.2-0.3,0.4-0.5,0.5-0.7c0.1,0,0.2,0,0.3,0C11.4,9.6,11.5,9.9,11.6,10.1z"/>
		<path d="M25.4,9.1c0.1,0.3,0.2,0.7,0.4,1c-0.2,0-0.5,0-0.7,0c0,0,0,0,0,0c0-0.1-0.1-0.2-0.1-0.3C25.1,9.6,25.2,9.3,25.4,9.1z"/>
		<path d="M5.6,10c0-0.3,0-0.6,0-0.9c0,0,0-0.1,0.1-0.1C5.9,9,6.1,8.9,6.4,8.9C6.1,9.3,5.9,9.7,5.6,10C5.6,10,5.6,10,5.6,10z"/>
		<path d="M7.3,5.6c0.3-0.1,0.5-0.2,0.7-0.3c0,0.3,0,0.6,0,1C7.8,6,7.6,5.8,7.3,5.6z"/>
		<path d="M24.5,5.5c-0.1,0.2-0.1,0.3-0.2,0.5c0,0,0,0,0,0C24.2,6,24,6.1,23.8,6.2c0-0.2-0.1-0.3-0.2-0.5C24,5.6,24.2,5.5,24.5,5.5
			C24.5,5.4,24.5,5.4,24.5,5.5z"/>
		<path d="M5.6,5.9c0-0.4,0-0.9,0-1.3c0.1,0.1,0.2,0.2,0.3,0.3C6.1,5,6.1,5,6,5.2C5.9,5.4,5.9,5.6,5.8,5.8C5.8,5.9,5.7,5.9,5.6,5.9z"
			/>
		<path d="M29.8,5.2c0-0.2,0.1-0.3,0.1-0.5C30,4.3,30.1,4,30.1,3.7c0-0.1,0.2-0.2,0.2-0.2c0,0,0,0,0,0c0,0.1,0.1,0.2,0,0.3
			C30.2,4.3,30.1,4.7,29.8,5.2C29.9,5.1,29.8,5.1,29.8,5.2C29.8,5.2,29.8,5.2,29.8,5.2z"/>
		<path d="M28.8,7.4c-0.1-0.4-0.2-0.7-0.3-1.1c0.1,0,0.2,0,0.3,0.1c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0.1C29,6.8,28.9,7.1,28.8,7.4
			C28.9,7.4,28.8,7.4,28.8,7.4z"/>
		<path d="M35.5,8.7c-0.1,0.5-0.2,0.9-0.3,1.4c0,0,0,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0c-0.1-0.1-0.1-0.2,0-0.2
			C35.1,9.6,35.3,9.2,35.5,8.7C35.5,8.8,35.5,8.7,35.5,8.7C35.5,8.7,35.5,8.7,35.5,8.7z"/>
		<path d="M14.1,10.1c0-0.4,0-0.7,0-1.1c0.1,0.2,0.2,0.3,0.3,0.5c0,0.1,0.1,0.1,0,0.2c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0-0.1,0
			C14.3,10.1,14.2,10.1,14.1,10.1z"/>
		<path d="M1.4,2.5c0.5-0.1,0.9-0.2,1.4-0.3c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0-0.1,0C2.2,2.5,1.8,2.5,1.4,2.5C1.4,2.5,1.4,2.5,1.4,2.5z"
			/>
		<path d="M32.8,2c0.1,0,0.2,0,0.2,0c0,0.1,0.1,0.2,0.1,0.3c-0.3,0.1-0.5,0.2-0.8,0.2c0,0,0,0,0,0C32.5,2.3,32.7,2.1,32.8,2
			C32.8,2,32.8,2,32.8,2z"/>
		<path d="M26.3,5.1c-0.2,0.1-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0.1-0.3,0c0,0-0.1-0.1-0.1-0.1c0.3-0.1,0.5-0.2,0.8-0.3c0,0,0.1,0,0.1,0
			C26.3,5,26.3,5,26.3,5.1z"/>
		<path d="M33.4,0.2c-0.1,0.3-0.1,0.5-0.2,0.8c-0.1-0.3-0.2-0.5-0.3-0.8C33.1,0.2,33.2,0.2,33.4,0.2z"/>
		<path d="M20.4,2.6C20.4,2.6,20.4,2.5,20.4,2.6c0.4-0.1,0.7-0.2,1-0.3c0,0,0,0,0,0c0,0.1-0.1,0.2-0.1,0.2c0,0-0.1,0-0.1,0
			C20.9,2.6,20.7,2.6,20.4,2.6C20.4,2.6,20.4,2.6,20.4,2.6z"/>
		<path d="M27.6,8.5c0.1,0.2,0.1,0.3,0.2,0.5c0,0,0,0.1,0,0.1c0,0.1-0.1,0.1-0.1,0.2c-0.1-0.1-0.1-0.2-0.2-0.3c0,0,0-0.1,0-0.1
			C27.4,8.8,27.5,8.6,27.6,8.5z"/>
		<path d="M26.8,10.1c0.1-0.2,0.2-0.5,0.4-0.7c0.1,0.1,0.1,0.2,0.2,0.2c0,0,0,0.1,0,0.1c-0.1,0.1-0.2,0.3-0.3,0.4
			C27,10.1,26.9,10.1,26.8,10.1C26.8,10.1,26.8,10.1,26.8,10.1z"/>
		<path d="M38.5,3.7c0,0.1,0,0.2,0,0.3c-0.1,0.2-0.2,0.3-0.3,0.5c-0.1-0.1-0.1-0.2-0.2-0.2c0,0,0,0,0-0.1C38.2,4,38.3,3.8,38.5,3.7
			C38.4,3.7,38.5,3.7,38.5,3.7z"/>
		<path d="M3.5,2.1c0,0.2,0,0.3,0,0.5c-0.1,0-0.2,0-0.4,0c0.1-0.1,0.1-0.3,0.2-0.4C3.3,2.1,3.4,2.1,3.5,2.1z"/>
		<path d="M35.8,0.6c0.2,0.1,0.4,0.2,0.7,0.3c0,0,0,0,0,0c-0.1,0-0.3,0.1-0.4,0.1c0,0-0.1,0-0.1-0.1C35.9,0.8,35.9,0.7,35.8,0.6
			C35.8,0.6,35.8,0.6,35.8,0.6z"/>
		<path d="M32.1,9.7c0.1,0.2,0.2,0.3,0.3,0.5c-0.1,0-0.3,0-0.4-0.1C32.1,10,32.1,9.9,32.1,9.7z"/>
		<path d="M31.4,2.8c0.1-0.1,0.1-0.3,0.2-0.5c0.1,0.1,0.1,0.2,0.2,0.3C31.7,2.8,31.5,2.8,31.4,2.8C31.4,2.8,31.4,2.8,31.4,2.8z"/>
		<path d="M6.4,8.5C6.2,8.5,5.9,8.6,5.6,8.6c0-0.1,0-0.1,0-0.2C5.9,8.5,6.2,8.5,6.4,8.5C6.4,8.5,6.4,8.5,6.4,8.5z"/>
		<path d="M27.9,9.5c0.1,0.2,0.2,0.4,0.2,0.6c0,0,0,0,0,0c0,0-0.1,0-0.1,0C28,10,27.9,9.8,27.8,9.7C27.8,9.6,27.9,9.6,27.9,9.5z"/>
		<path d="M20.6,8.9c0.2-0.1,0.3-0.1,0.5-0.2C21,8.8,21,8.9,21,9.1C20.8,9,20.7,8.9,20.6,8.9z"/>
		<path d="M36.3,5c-0.1,0-0.2,0-0.3,0c0-0.2,0.1-0.3,0.1-0.5C36.2,4.7,36.3,4.8,36.3,5z"/>
		<path d="M33.6,2.3c-0.1-0.2-0.1-0.3-0.2-0.4c0.1,0,0.2,0,0.3-0.1C33.7,2,33.7,2.1,33.6,2.3z"/>
		<path d="M11.8,9.7c-0.1-0.2-0.1-0.3-0.2-0.4c0.1,0,0.2,0,0.3,0C11.9,9.4,11.9,9.5,11.8,9.7z"/>
		<path d="M22.2,7.6C22.1,7.6,22,7.5,22,7.5c0.1-0.1,0.3-0.1,0.4-0.2C22.3,7.4,22.3,7.5,22.2,7.6z"/>
		<path d="M12.5,9.2c-0.1,0.3-0.2,0.6-0.2,1c0,0,0,0,0,0C12.3,9.8,12.3,9.5,12.5,9.2C12.4,9.2,12.4,9.2,12.5,9.2
			C12.5,9.2,12.5,9.2,12.5,9.2z"/>
		<path d="M16.4,1.4c0-0.2,0.1-0.4,0.1-0.6c0,0,0,0,0,0c0,0.2,0,0.3,0,0.5C16.6,1.4,16.5,1.4,16.4,1.4C16.5,1.4,16.4,1.4,16.4,1.4z"
			/>
		<path d="M1.5,5.7C1.4,5.6,1.3,5.5,1.3,5.5c0.1,0,0.2-0.1,0.3-0.1C1.5,5.5,1.5,5.6,1.5,5.7z"/>
		<path d="M32,8.7c-0.1-0.1-0.1-0.2-0.2-0.3c0.1,0,0.2,0,0.3-0.1C32,8.4,32,8.5,32,8.7z"/>
		<path d="M20.1,5.7c-0.1-0.1-0.1-0.1-0.2-0.2c0.1,0,0.2-0.1,0.3-0.1C20.1,5.5,20.1,5.6,20.1,5.7z"/>
		<path d="M24.9,5.7c0-0.1,0.1-0.2,0.1-0.3c0.1,0.1,0.1,0.1,0.2,0.2C25.1,5.6,25,5.7,24.9,5.7z"/>
		<path d="M14.6,9.1c-0.1-0.1-0.1-0.2-0.2-0.3c0.1,0,0.2,0,0.3-0.1C14.7,8.8,14.7,8.9,14.6,9.1z"/>
		<path d="M36.3,1.4c0.1,0,0.2,0,0.3,0c0,0.1,0,0.2-0.1,0.3C36.4,1.5,36.3,1.5,36.3,1.4z"/>
		<path d="M6.3,5.6c0-0.1,0.1-0.2,0.1-0.3c0.1,0.1,0.1,0.1,0.2,0.2C6.5,5.5,6.4,5.6,6.3,5.6z"/>
		<path d="M25,9c-0.1,0.1-0.1,0.2-0.2,0.3c0-0.1-0.1-0.2-0.1-0.3C24.8,9,24.9,9,25,9z"/>
		<path d="M25,8.6c-0.1,0-0.2,0-0.3,0.1c-0.1,0-0.1,0-0.1-0.1C24.7,8.5,24.8,8.5,25,8.6C25,8.5,25,8.5,25,8.6z"/>
		<path d="M31.3,3.3c-0.1,0.1-0.2,0.2-0.2,0.3C31.1,3.4,31.1,3.3,31.3,3.3z"/>
		<path d="M21.4,8.5c0.1,0,0.2-0.1,0.3-0.1C21.7,8.5,21.6,8.5,21.4,8.5z"/>
		<path d="M5.6,0.6c0-0.1,0-0.1,0-0.2c0,0,0.1,0,0.1,0C5.7,0.4,5.7,0.5,5.6,0.6z"/>
	</g>
	</svg>
</template>

<script>
export default {
    name: "logo-icon"
}
</script>
