<template>
    <div class="card">
        <poll-container :likes="post.likes_count" :dislikes="post.dislikes_count"></poll-container>
        <div class="p-4">
            <p>
                <!-- Post title -->
                <a :href="post.path"><span class="text-2xl text-brown leading-none">{{post.title}}</span></a>
                <br>
                <!-- Author name and created at -->
                <span class="text-grey">
                    <a class="text-grey" :href="post.user.path">{{post.user.fullname}}</a>, {{post.created_at}}
                </span>
            </p>
            <!-- Post abstract -->
            <p class="py-3">
                {{abstract}}<a @click="show_more = true">{{!show_more ? '...more' : ''}}</a>
            </p>
            <!-- Post container footer -->
            <div class="flex justify-between items-center">
                <!-- Read Button -->
                <a :href="post.path">
                    <span class="inline-block bg-blue text-white text-bold px-3 py-1 rounded-lg animate-pulse">READ</span>
                </a>
                <!-- Favourite Icon -->
                <span class="text-2xl text-amber" @click="favouritePost">
                    <star-icon :filled="favourited" class="fill-current h-6 icon"/>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import pollContainer from './poll-container'
export default {
    name: 'abstract-container',
    props: ['post'],
    components: {pollContainer},
    data() {
        return {
            show_more: false,
            favourited: this.post.favourited
        }
    },
    computed: {
        abstract(){
            if(this.show_more){
                return this.post.abstract
            }
            return this.post.abstract.length > 500 ? this.post.abstract.substr(0, 400) : this.post.abstact
        }
    },
    methods: {
        /**
         * Update DB and DOM with new favourites state
         * @returns {Void}
         */
        favouritePost(){
            let url = this.favourited ? '/unfavourite' : '/favourite'
            axios.post(url,{
                post_id : this.post.id
            })
            this.favourited = !this.favourited
        }
    }
}
</script>
