<template>
    <div>
        <poll-container :likes="comment.likes_count" :dislikes="comment.dislikes_count"></poll-container>
        <!-- Comment container. Use the type property to decide on the apperance and functionality of the comment component -->
        <div :class="type === 'reply' ? 'reply-container' : 'card p-2'">
            <!-- The relative class is necessary for the positioning of the comment options -->
            <div class="relative">
                <!-- Comment Header -->
                <div class="flex justify-between items-center">
                    <!-- Left side of the header -->
                    <div class="flex h-8">
                        <img :src="comment.user.avatar" alt="Commenter Avatar" class="w-8 mr-2">
                        <div class="flex flex-col justify-between">
                            <p class="leading-none"><a :href="comment.user.path">{{comment.user.fullname}}</a></p>
                            <p class="leading-none text-xs">{{comment.created_at}}</p>
                        </div>
                    </div>
                    <!-- Right side of the header -->
                    <div v-if="authenticated">
                        <span class="text-grey" @click="commentOptions.active = !commentOptions.active">
                            <ellipsis-v-icon class="h-5 fill-current icon"></ellipsis-v-icon>
                        </span>
                        <!-- Comment options container -->
                        <div class="absolute top-0 left-0 bottom-0 right-0
                            rounded-t rounded-b-lg p-1 text-right
                            flex justify-center items-center"
                            :class="type === 'comment' ? 'bg-white' : 'bg-brown-lightest'"
                            v-if="commentOptions.active"
                        >
                            <!-- Comment options buttons -->
                            <div v-if="!commentOptions.deletePrompt">
                                <a class="mt-2 absolute top-0 right-0 m-1 leading-none text-red cursor-pointer" @click="commentOptions.active = false">Close</a>
                                <span v-if="this.type === 'comment' || this.comment.owner" @click="subscribeToComment">
                                    <bell-icon :filled="this.comment.subscribed" class="h-6 m-3 inline cursor-pointer icon"></bell-icon>
                                </span>
                                <span v-if="comment.owner" @click="activateCommentEditing">
                                    <pencil-icon class="w-6 m-3 text-amber inline fill-current cursor-pointer icon"></pencil-icon>
                                </span>
                                <span v-if="comment.owner" @click="commentOptions.deletePrompt = true">
                                    <close-icon class="w-5 m-3 text-red inline fill-current cursor-pointer icon"></close-icon>
                                </span>
                                <span v-if="!comment.owner" >
                                    <exclamation-icon class="w-6 m-3 inline text-blue fill-current cursor-pointer icon"></exclamation-icon>
                                </span>
                            </div>
                            <!-- Comment deletion confirmation dialogue -->
                            <div v-else class="flex flex-col justify-between items-center">
                                <span class="block text-center">
                                    <span class="block">Are you sure?</span>
                                    <small class="block text-red" v-if="comment.replies ? comment.replies.length : false">All associated replies will be deleted too.</small>
                                </span>
                                <span class="block mt-5">
                                    <span
                                        class="btn btn-outline-amber m-1"
                                        @click="commentOptions.deletePrompt = false"
                                        >Cancel</span>
                                    <span class="btn btn-red m-1" @click="deleteComment">Delete</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Comment Body -->
                <p v-if="!editingActive" class="mt-2 text-sm">{{comment.body}}</p>
                <!-- Comment editing container -->
                <div v-else>
                    <textarea
                        class="bg-brown-lightest w-full rounded-lg p-2 my-2"
                        rows="4"
                        v-model.trim="comment.body"
                        :ref="`commentUpdate${comment.id}`"></textarea>
                    <div class="flex justify-between">
                        <span class="btn btn-outline-red" @click="cancelEditing">Cancel</span>
                        <span class="btn btn-brown" @click="updateComment">Update</span>
                    </div>
                </div>

                <!-- Comment Footer/Buttons -->
                <div v-if="!editingActive" :class="comment.replies_count ? 'h-6' : ''" class="flex justify-between align-center mt-2">
                    <!-- Left side -->
                    <div class="flex align-center" v-if="authenticated">
                        <span class="text-green" @click="likeOrDislike('like')">
                            <smile-icon :filled="comment.liked" class="w-6 mr-2 icon"></smile-icon>
                        </span>
                        <span class="text-red" @click="likeOrDislike('dislike')">
                            <frown-icon :filled="comment.disliked" class="w-6 mr-2 icon"></frown-icon>
                        </span>
                    </div>
                    <!-- Div is rendered to keep the replies toggle to the right -->
                    <div v-else></div>
                    <!-- Replies toggle -->
                    <span v-if="repliesButton" @click="repliesActive = !repliesActive">
                        <button v-if="!repliesActive" class="btn-sm btn-outline-black">
                            {{comment.replies_count ? comment.replies_count > 1 ? `${comment.replies_count} Replies` : '1 Reply' :'Reply'}}
                        </button>
                        <!-- Close icon is shown when the replies are active -->
                        <close-icon v-else class="w-5 text-red fill-current icon"></close-icon>
                    </span>
                </div>
            </div>

            <!-- Replies Container -->
            <transition name="slide">
                <div v-if="repliesActive" class="overflow-hidden">
                    <!-- New reply textarea -->
                    <div v-if="authenticated">
                        <div class="my-2">
                        <textarea
                            :class="inputs.comment.hasErrors ? 'border border-red': ''"
                            @keyup="revalidateInputs('comment')"
                            class="bg-brown-lightest w-full rounded-lg p-2"
                            placeholder="Leave a reply..."
                            rows="4"
                            v-model.trim="inputs.comment.value">
                        </textarea>
                            <div v-if="inputs.comment.hasErrors" class="text-left px-1">
                            <span v-for="(error, index) in inputs.comment.errors" :key="index" class="text-xs text-red block leading-none my-1">
                                {{error}}
                            </span>
                            </div>
                        </div>
                        <div class="flex justify-between">
                            <span class="text-sm text-grey">
                                {{comment.replies_count ? comment.replies_count > 1 ? `${comment.replies_count} Replies` : '1 Reply' :''}}
                            </span>
                            <span class="inline-block bg-brown text-white text-bold px-3 py-1 rounded-lg" @click="postReply">Reply</span>
                        </div>
                    </div>

                    <!-- Replies Container -->
                    <div class="replies-container" :id="`replies-container-${comment.id}`">
                        <!-- The component references itself -->
                        <comment-container
                            v-for="comment in comment.replies"
                            :key="comment.id"
                            :initial-comment="comment"
                            type="reply"
                            class="mt-3"
                            @remove-deleted-comment="removeReply($event)"
                        />
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import pollContainer from './poll-container'
import commentContainer from './comment-container'
import formValidator from '../concerns/form-validator'
import comment from '../concerns/comment'
import likeOrDislike from '../concerns/like-or-dislike'
import subscribe from '../concerns/subscribe'

import { emitError } from '../helpers'

export default {
    name: 'comment-container',
    props: ['initial-comment', 'type'],
    components: {
        pollContainer,commentContainer
    },
    data(){
        return {
            comment: this.initialComment,
            authenticated: window.auth,
            repliesActive: false,
            formValid: false,
            form: {
                hasErrors: false,
                errors: []
            },
            inputs: {
                comment: {
                    value: '',
                    validation: ['required'],
                    errors: [],
                    hasErrors: false
                }
            },
            commentOptions: {
                active: false,
                deletePrompt: false
            },
            editingActive: false
        }
    },
    computed: {
        /**
         * Should the replies button be rendered
         * @returns {Boolean}
         */
        repliesButton(){
            if(this.type === 'reply'){
                return false
            }
            return this.type === 'comment' && !this.authenticated && this.comment.replies.length > 0 || this.authenticated
        }
    },
    methods: {
        /**
         * Revalidate the inputs as they are being updated
         */
        revalidateInputs(...inputs){
            this.submissionAttempted ? new formValidator(this, inputs) : null
            this.form.hasErrors = false
            this.form.errors = []
        },

        /**
         * Like or dislike based on the target value
         * @param {String} target
         */
        likeOrDislike(target){
            new likeOrDislike(this, 'comment', target)
        },

        /**
         * Persist the new reply to the DB
         */
        postReply(){
            new formValidator(this)
            this.formValid ? new comment(this, 'comment') : null
        },

        /**
         * Persist the subsription state to the DB
         */
        subscribeToComment(){
           new subscribe(this, 'comment')
        },

        /**
         * Delete comment from the DB
         * Emit event to parent with the deleted comment's ID
         */
        deleteComment(){
            axios.delete(`/comment/${this.comment.id}`)
            .then(() => {
                this.$emit('remove-deleted-comment', this.comment.id)
            }).catch(E => {
                emitError(E)
            })
        },

        /**
         * This method is triggered when the 'remove-deleted-comment'
         * event is fired by one of its replies.
         * Remove deleted Comment
         * @param {Int} removedReplyId
         */
        removeReply(removedReplyId){
            this.comment.replies = this.comment.replies.filter(reply => {
                return reply.id !== removedReplyId
            })
            this.comment.replies_count--
        },

        /**
         * Store the original comment and hide all other options and replies
         * Focus on the editing textarea
         */
        activateCommentEditing(){
            this.originalComment = JSON.parse(JSON.stringify(this.comment.body))
            this.editingActive = true
            this.commentOptions.active = false
            this.repliesActive = false
            this.$nextTick(()=>{
                this.$refs[`commentUpdate${this.comment.id}`].focus()
            })
        },

        /**
         * Revert the comment to what it was originally and deactivate editing mode
         */
        cancelEditing(){
            this.comment.body = this.originalComment
            this.editingActive = false
        },

        /**
         * Persist the updated comment and sync the saved comment with DB
         */
        updateComment(){
            if(this.comment.body !== ''){
                axios.patch(`/comment/${this.comment.id}`, {
                    body: this.comment.body
                }).then(R => {
                    this.comment = R.data
                    this.editingActive = false
                }).catch(E => {
                    emitError(E)
                })
            }
        }
    }
}
</script>

<style scoped>
    .slide-enter-active, .slide-leave-active {
        /*transform-origin: top;*/
        transition: all 300ms ease-in-out;
    }
    .slide-enter, .slide-leave-to {
        max-height: 0;
        /*transform: scale(0);*/
    }
    .slide-leave, .slide-enter-to {
        max-height: 566px;
        /*transform: scale(1);*/
    }
</style>
