<template>
  <div class="mt-16 mx-2">
      <div class="card p-2">
          <div class="flex justify-between items-center m-2 text-brown">
              <strong>Metadata</strong>
              <span class="flex cursor-pointer" @click="showMetadata">
                  <span class="mr-2">{{metadata_toggle}}</span>
                  <caret-icon class="w-3" :direction="metadata_caret_direction"></caret-icon>
              </span>
          </div>
          <div class="animate overflow-y-hidden" :class="metadata_height">
              <input
                  type="text"
                  v-model="post.title"
                  placeholder="Title"
                  class="bg-brown-lightest h-10 text-xl p-2 rounded-lg w-full"
              >
              <textarea
                  v-model="post.abstract"
                  placeholder="Write a short summary to entice your readers."
                  class="h-32 mt-4 p-2 text-sm rounded-lg w-full bg-brown-lightest"
              ></textarea>
          </div>
      </div>
      <wysiwyg-container @body-updated="post.body = $event"></wysiwyg-container>
  </div>
</template>

<script>
import wysiwygContainer from './wysiwyg-container'
export default {
    name: 'create-post-container',
    components:{
        wysiwygContainer
    },
    props: {
        value: {
            type: String,
            default: ''
        }
    },
    data() {
      return {
          post: {
              title: '',
              abstract: '',
              body: ''
          },
          metadata: {
              active: false
          }
      }
    },
    computed:{
        metadata_caret_direction(){
            return this.metadata.active ? 'up' : 'down'
        },
        metadata_height(){
            return this.metadata.active ? 'h-48' : 'h-0'
        },
        metadata_toggle(){
            return this.metadata.active ? 'hide' : 'show'
        }
    },
    methods: {
        showMetadata(){
            this.metadata.active = ! this.metadata.active
        }
    }
}
</script>
