<template>
    <div>
        <div
            :class="flashClass"
            class="flex justify-between items-center fixed z-50 h-16 top-3 left-0 right-0 p-3 m-4 rounded-lg bg-brown-lightest shadow-xl"
        >
            <!-- <img src="/icons/yin-yang.svg" alt="Avatar" class="w-8 m-1"> -->
            <exclamation-icon class="w-1/12 fill-current"/>

            <p class="text-sm leading-none m-2 font-bold">
                {{flash.body}}
            </p>
            <span class="w-4 fill-current" @click="$emit('close-flash')">
                <close-icon class="icon"/>
            </span>
        </div>
    </div>
</template>

<script>
import {flashBus} from '../flashBus'

export default {
    name: 'flash-container',
    props: ['flash-content'],
    data(){
        return {
            flash: this.flashContent
        }
    },
    computed: {
        flashClass(){
            return this.flash ? `bg-${this.flash.bgColor} text-${this.flash.textColor}` : ''
        }
    },
    mounted(){
        flashBus.$on('flash', e => {
            this.flash = e
        })
    },
    methods: {
        closeFlash(){
            console.log('called')
        }
    }
}
</script>
