<template>
    <div class="w-full">
        <div class="bg-white rounded-lg shadow-lg mx-4 p-4 text-center">
            <div class=" font-bold uppercase">
                <span>{{login ? 'Login' : 'Register'}}</span>
            </div>
            <div class="flex justify-center mt-4">
                <form class="w-full">
                    <div v-if="!login" class="mb-3 mx-4 text-center">
                        <input
                            type="text"
                            v-model.trim="inputs.firstname.value"
                            class="input"
                            :class="inputs.firstname.hasErrors ? 'border border-red' : ''"
                            placeholder="Firstname"
                            :autofocus="!login"
                            autocomplete="given-name"
                            @keyup="revalidateInputs('firstname')"
                        >
                        <div v-if="inputs.firstname.hasErrors" class="text-left px-1">
                            <span v-for="(error, index) in inputs.firstname.errors" :key="index" class="text-xs text-red block leading-none my-1">
                                {{error}}
                            </span>
                        </div>
                    </div>
                    <div v-if="!login" class="mb-3 mx-4 text-center">
                        <input
                            v-if="!login"
                            type="text"
                            v-model.trim="inputs.lastname.value"
                            class="input"
                            :class="inputs.lastname.hasErrors ? 'border border-red' : ''"
                            placeholder="Lastname"
                            autocomplete="family-name"
                            @keyup="revalidateInputs('lastname')"
                        >
                        <div v-if="inputs.lastname.hasErrors" class="text-left px-1">
                            <span v-for="(error, index) in inputs.lastname.errors" :key="index" class="text-xs text-red block leading-none my-1">
                                {{error}}
                            </span>
                        </div>
                    </div>
                    <div class="mb-3 mx-4 text-center">
                        <input
                            type="email"
                            v-model.trim="inputs.email.value"
                            class="input"
                            :class="inputs.email.hasErrors ? 'border border-red' : ''"
                            placeholder="Email"
                            :autofocus="login"
                            autocomplete="email"
                            @keyup="revalidateInputs('email')"
                        >
                        <div v-if="inputs.email.hasErrors" class="text-left px-1">
                            <span v-for="(error, index) in inputs.email.errors" :key="index" class="text-xs text-red block leading-none my-1">
                                {{error}}
                            </span>
                        </div>
                    </div>
                    <div class="mb-3 mx-4 text-center">
                        <input
                            type="password"
                            v-model.trim="inputs.password.value"
                            class="input"
                            :class="inputs.password.hasErrors ? 'border border-red' : ''"
                            placeholder="Password"
                            :autocomplete="login ? 'current-password' : 'new-password'"
                            @keyup="revalidateInputs('password', 'password_confirmation')"
                        >
                        <div v-if="inputs.password.hasErrors" class="text-left px-1">
                            <span v-for="(error, index) in inputs.password.errors" :key="index" class="text-xs text-red block leading-none my-1">
                                {{error}}
                            </span>
                        </div>
                    </div>
                    <div v-if="!login" class="mb-3 mx-4 text-center">
                        <input
                            v-if="!login"
                            type="password"
                            v-model.trim="inputs.password_confirmation.value"
                            class="input"
                            :class="inputs.password_confirmation.hasErrors ? 'border border-red' : ''"
                            placeholder="Password Confirmation"
                            autocomplete="new-password"
                            @keyup="revalidateInputs('password_confirmation')"
                        >
                        <div v-if="inputs.password_confirmation.hasErrors" class="text-left px-1">
                            <span v-for="(error, index) in inputs.password_confirmation.errors" :key="index" class="text-xs text-red block leading-none my-1">
                                {{error}}
                            </span>
                        </div>
                    </div>
                    <div v-if="login" class="mb-3 mx-4 text-center">
                        <input type="checkbox" v-model="inputs.rememberMe.value" name="remember-me" id="remember-me">
                        <label for="remember-me">Remember Me</label>
                    </div>
                    <p v-if="form.hasErrors">
                        <span v-for="(error, index) in form.errors" :key="index" class="text-xs text-red block font-bold leading-none my-1">
                            {{error}}
                        </span>
                    </p>
                    <div class="mt-2">
                        <button class="btn btn-brown shadow-lg" @click.prevent="loginOrRegister">{{login ? 'Login' : 'Register'}}</button>
                        <button class="btn btn-outline-brown" @click.prevent="switchForms">{{login ? 'Register' : 'Login'}}</button>
                    </div>
                </form>
            </div>
            <div class="pt-2" v-if="login">
                <a href="/password/reset">Forgot your password?</a>
            </div>
            
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import formValidator from '../concerns/form-validator'
import { getURLQueries } from '../helpers'
import { emitError } from '../helpers'

export default {
    name: 'login-register-container',
    data() {
        return {
            queries: {},
            login: true,
            submissionAttempted: false,
            formValid: false,
            form:{
                errors:[],
                hasErrors: false
            },
            inputs: {
                firstname: {
                    value: '',
                    validation: ['alpha', 'alpha:2'],
                    errors: [],
                    hasErrors: false
                },
                lastname: {
                    value: '',
                    validation: ['alpha', 'alpha:2'],
                    errors: [],
                    hasErrors: false
                },
                email: {
                    value: '',
                    validation: ['email'],
                    errors: [],
                    hasErrors: false
                },
                password: {
                    value: '',
                    validation: ['required'],
                    errors: [],
                    hasErrors: false
                },
                password_confirmation: {
                    value: '',
                    validation: ['confirm:password'],
                    errors: [],
                    hasErrors: false
                },
                rememberMe: {
                    value : false,
                    validation: [],
                    errors: [],
                    hasErrors: false
                }
            }
        }
    },
    created(){
        this.queries = getURLQueries(location.search)
        this.assignLoginOrRegisteringState()
    },
    methods: {
        assignLoginOrRegisteringState(){
            this.queries.hasOwnProperty('register') ?
            this.login = !this.queries.register : null
        },
        /**
         * Switch forms amonhg login, register and forgot my passwoord
         * 
         * @returns {Void}
         */
        switchForms(){
            this.login = !this.login
            this.formValid = false
            this.form.hasErrors = false
            this.form.errors = []
            for (const [input, body] of Object.entries(this.inputs)) {
                this.inputs[input].hasErrors = false
                this.inputs[input].errors = []
            }
            if(this.login){
                this.inputs.password.validation = ['required']
            }else{
                this.inputs.password.validation = ['min:6', 'lower:1', 'upper:1', 'number:1', 'special:1']
                this.inputs.email.validation = ['unique', 'email']
            }
        },

        /**
         * Login the existing user or register a new one
         * @returns {Void}
         */
        loginOrRegister(){
            let fieldsToValidate = this.login ? ['email', 'password', 'rememberMe'] : []
            new formValidator(this, fieldsToValidate)
            if(this.formValid){
                this.login ? this.loginUser() : this.registerUser()
            }
        },

        /**
         * Revalidate the inputs as they are being updated
         */
        revalidateInputs(...inputs){
            this.submissionAttempted ? new formValidator(this, inputs) : null
            this.form.hasErrors = false
            this.form.errors = []
        },
        /**
         * Send login request to the server
         * 
         * @returns {Void}
         */
        loginUser(){
            axios.post('/login', {
                email: this.inputs.email.value,
                password: this.inputs.password.value
            }).then(R => {
                this.queries.redirect != null ?
                location.href = this.queries.redirect :
                location.href = R.data.redirectPath
            }).catch(E => {
                this.addServerSideErrors(E)
            })
        },

        /**
         * Send a register request to the server
         * 
         * @returns {void}
         */
        registerUser(){
            axios.post('/register', {
                firstname: this.inputs.firstname.value,
                lastname: this.inputs.lastname.value,
                email: this.inputs.email.value,
                password: this.inputs.password.value,
                password_confirmation: this.inputs.password_confirmation.value
            }).then(R => {
                location.href = R.data.redirectPath
            }).catch(E => {
                this.addServerSideErrors(E)
            })
        },

        /**
         * Add serverside errors 
         * 
         * @returns {Void}
         */
        addServerSideErrors(E){
            emitError(E)
            for (const [input, inputProperties] of Object.entries(this.inputs)){
                if(E.response.data.errors.hasOwnProperty(input)){
                    this.inputs[input].errors = E.response.data.errors[input]
                    this.inputs[input].hasErrors = true
                    this.inputs[input].originalValue = JSON.parse(JSON.stringify(this.inputs[input].value))
                    this.formValid = false
                }
            }
            if(E.response.data.errors.hasOwnProperty('form')){
                this.form.errors = E.response.data.errors.form
                this.form.hasErrors = true
            }
        }
    }
}
</script>
