<template>
    <div class="h-screen w-screen bg-brown-lightest top-0 right-0 z-40 fixed pt-16 scrolling-touch overflow-y-scroll">
        <div class="px-4" v-if="authenticated">
            <user-container type="menu" :user-info="user"/>
        </div>
        <div v-else class="text-center p-4">
            <a href="/login"><button class="btn btn-green shadow-lg m-2">Login / Register</button></a>
        </div>
        <div v-if="authenticated" class="menu-item bg-white shadow-lg rounded-lg mx-4 p-3 text-center mb-4">
            <div class="menu-item-header font-bold uppercase">
                Writing
            </div>
            <div class="text-brown flex justify-between items-center p-6">
                <a href="/post/create" class="flex flex-col justify-center items-center w-24">
                    <feather-icon class="h-8"></feather-icon>
                    <span class="text-sm mt-2">Compose</span>
                </a>
                <a :href="user.path" class="flex flex-col justify-center items-center w-24">
                    <archive-icon class="h-8"></archive-icon>
                    <span class="text-sm mt-2">My Posts</span>
                </a>
                <a href="#" class="flex flex-col justify-center items-center w-24">
                    <school-icon class="h-8"></school-icon>
                    <span class="text-sm mt-2">Tips</span>
                </a>
            </div>
        </div>
        <div v-if="authenticated" class="menu-item bg-white shadow-lg rounded-lg mx-4 p-3 text-center mb-4">
            <div class="menu-item-header font-bold uppercase">
                Settings
            </div>
            <div class="menu-item-body">
                <p>Privacy</p>
                <p>Security</p>
                <p>Notifications</p>
            </div>
        </div>
        <div class="menu-item bg-white shadow-lg rounded-lg mx-4 p-3 text-center mb-4">
            <div class="menu-item-header font-bold uppercase">
                Contact
            </div>
            <div class="menu-item-body">
                <p>FAQ</p>
                <p>Message</p>
                <p>Press & Media</p>
            </div>
        </div>
        <div v-if="authenticated" class="menu-item bg-white shadow-lg rounded-lg mx-4 p-6 text-center mb-4">
            <form action="/logout" method="POST">
                <input type="hidden" name="_token" :value="csrf">
                <button type="submit" class="btn btn-red shadow-lg">Logout</button>
            </form>
        </div>
        <div class="menu-item bg-white shadow-lg rounded-lg mx-4 p-3 text-center mb-4">
            <div class="menu-item-header font-bold uppercase flex justify-center mb-2">
                <logo-icon class="h-8 text-brown fill-current"></logo-icon>
            </div>
            <div class="menu-item-body text-sm text-justify">
                <p class="m-2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import userContainer from './user-container'
import FeatherIcon from "../icons/feather-icon";
import SchoolIcon from "../icons/school-icon";

export default {
    name: 'menu-container',
    components: {SchoolIcon, FeatherIcon, userContainer},
    props: ['user'],
    data(){
        return {
            authenticated: window.auth,
            csrf: document.head.querySelector('meta[name="csrf-token"]').content
        }
    }
}
</script>
