<template>
    <div>
        <div class="flex bg-white top-0 items-center justify-between sm:h-16 h-12 p-2 sm:px-6 shadow-lg fixed w-screen z-50 text-brown">
            <!-- Logo -->
            <a href="/home"><logo-icon class="fill-current h-4"></logo-icon></a>
            <div class="flex items-center">
                <!-- Search -->
                <div class="relative nav-link " v-if="!navItemActive || !mobileDevice" @click="activateSearching">
                    <search-icon class="fill-current w-4 icon"/>
                </div>
                <!-- Write -->
                <div class="relative nav-link hidden sm:inline w-4">
                    <feather-icon class="icon"/>
                </div>
                <!-- Notifications -->
                <div
                    v-if="!navItemActive && authenticated || !mobileDevice && authenticated"
                    @click="activateNotifications"
                    id="notificationsButton"
                    class="nav-link relative"
                    :class="notificationsActive ? 'active-nav-link' : ''"
                >
                    <span>
                        <bell-icon :filled="true" class="fill-current h-4 icon"/>
                    </span>
                </div>
                <!-- Avatar -->
                <div class="hidden sm:flex items-center cursor-pointer">
                    <img class="h-10 w-10 mr-1 rounded-full" :src="user ? user.avatar : '/avatars/default.svg'" alt="User avatar">
                    <span class=""><i class="fas fa-caret-down"></i></span>
                </div>
                <!-- Hamburger -->
                <div v-if="!navItemActive || !mobileDevice"  @click="activateMenu">
                    <div v-if="!menuActive" class="sm:hidden flex flex-col items-end justify-between h-4">
                        <div class="hamburger-item w-4 border-brown"></div>
                        <div class="hamburger-item w-6 border-brown"></div>
                        <div class="hamburger-item w-3 border-brown"></div>
                    </div>
                </div>
                <!-- Close button -->
                <div class="text-red" v-if="navItemActive && mobileDevice" @click="deactivateNavItems">
                    <close-icon class="w-4 fill-current icon"/>
                </div>
            </div>
        </div>
        <!-- Notifications -->
        <notifications-container
            v-if="notificationsActive"
            :notifications.sync="notifications"
            id="notificationsContainer"
        />
        <!-- Search -->
        <keep-alive>
            <search-container v-if="searching"/>
        </keep-alive>

        <menu-container v-if="menuActive" :user="user"/>
    </div>
</template>

<script>
import notificationsContainer from './notifications-container'
import searchContainer from './search-container'
import menuContainer from './menu-container'

export default {
    name: 'nav-container',
    components: {notificationsContainer, searchContainer, menuContainer},
    props: {
        user: {
            default: null
        },
        notifications: {
            default(){
                return []
            }   
        }
    },
    data() {
        return {
            authenticated: window.auth,
            searching: false,
            notificationsActive: false,
            menuActive: false,
            navItemActive: false,
            mobileDevice: true,
            unreadNotificationsCount: this.notifications.filter(notification => {
                return notification.read_at == null
            }).length
        }
    },
    methods: {
        /**
         * Show the search component
         * @returns {Void}
         */
        activateSearching(){
            if(this.searching){
                this.navItemActive = false
                this.searching = false
            }else{
                this.searching = true
                this.navItemActive = true
            }
            this.notificationsActive = false
            this.menuActive = false
        },

        /**
         * Show the notifications component
         * @returns {void}
         */
        activateNotifications(){
            if(this.notificationsActive){
                this.navItemActive = false
                this.notificationsActive = false
            }else{
                this.notificationsActive = true
                this.navItemActive = true
                this.unreadNotificationsCount = 0
            }
            this.menuActive = false
            this.searching = false
        },

        /**
         * Activate the menu component
         * @returns {Void}
         */
        activateMenu(){
            if(this.menuActive){
                this.navItemActive = false
                this.menuActive = false
            }else{
                this.menuActive = true
                this.navItemActive = true
            }
            this.notificationsActive = false
            this.searching = false
        },

        /**
         * Close nov components
         * @returns {Void}
         */
        deactivateNavItems(){
            this.searching = false
            this.notificationsActive = false
            this.menuActive = false
            this.navItemActive = false
        },

        /**
         * Close the notifications component when clicked outside
         * @param {Object} e
         * @returns {Void}
         */
        notificationsListener(e){
            let notificationsContainer = document.getElementById('notificationsContainer')
            let notificationsButton = document.getElementById('notificationsButton')

            if(notificationsContainer && notificationsButton){
                notificationsContainer.contains(e.target) || notificationsButton.contains(e.target) ?
                null : this.notificationsActive = false
            }
        }
    },
    mounted(){
        // Set mobile device property
        this.mobileDevice = screen.width <= 644

        // Listen for clicks and close the components if the click is outside
        document.addEventListener('click', e => {
            this.notificationsListener(e)
        })
    }
}
</script>

<style>
.nav-link::before {
  content: "";
  display: block;
  height: 4px;
  background-color: currentcolor;
  position: absolute;
  top: 46px;
  left: 0px;
  width: 0%;
  transition: width 300ms ease 100ms;
  border-radius: 2px;
}
.nav-link:hover::before {
  width: 100%;
}
</style>
