<template>
    <div class="notifications-container phone-scroll">
        <!-- Notification container -->
        <div v-for="notification in notifications"
            :id="notification.id"
            :key="notification.id"
            class="flex items-center justify-between p-2 mb-2 bg-white rounded-lg .scrolling-touch"
            :class="notification.read_at ? '':'shadow-lg'"
        >
            <!-- Notifier's Avatar -->
            <img class="w-12 pr-2" :src="notification.data.notifier.avatar" alt="Notifier's Avatar">
            <!-- Notification body -->
            <span class="text-sm">
                <a :href="notification.data.notifier.path">{{notification.data.notifier.firstname}}</a>
                {{notification.data.notification_subject}}
                on your post
                {{convertTime(notification.created_at)}}
            </span>
            <!-- Notification dot -->
            <div class="flex flex-col content-between items-center">
                <span v-if="!notification.read_at" class="text-green">•</span>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'

export default {
    name: 'notifications-container',
    props: ['notifications'],
    computed: {
        /**
         * Count the number of unread notifications
         * @returns {Boolean}
         */
        unreadCount(){
            return this.notifications.filter(notification => {
                return notification.read_at == null
            }).length
        }
    },
    mounted(){
        // This is fired every time athe notifications container is activated
        this.checkForUnreadNotifications()
    },
    methods: {
        /**
         * Check if there are unread comments
         * @returns {Void}
         */
        checkForUnreadNotifications(){
            let unreadNotifications = this.getUnreadNotifications()
            unreadNotifications.length ? this.markNotificationsAsRead(unreadNotifications) : null
        },
        /**
         * Filter notifications to get unread notifications
         * @returns {Array} Notifications
         */
        getUnreadNotifications(){
            return this.notifications.filter(notification => {
                return !notification.read_at
            })
        },
        /**
         * Update database and DOM
         * @param {Array} unreadNotifications
         * @returns {Void}
         */
        markNotificationsAsRead(unreadNotifications){
            axios.get('/notifications/read').then(() => {
                unreadNotifications.forEach(notification => {
                    notification.read_at = true
                })
            })
        },
         /**
         * Convert to human readable time 
         * @param {String} time 
         * @returns {String}
         */
        convertTime(time){
            return moment(time).fromNow()
        }
    }
}
</script>