<template>
    <div class="w-full">
        <div class="bg-white rounded-lg shadow-lg mx-4 p-4 text-center">
            <div class=" font-bold uppercase">
                <span>{{sendEmail ? 'Send Password Reset Link' : 'Update New Password'}}</span>
            </div>
            <div class="flex justify-center mt-4">
                <form class="w-full">
                    <div v-if="sendEmail" class="mb-3 mx-4 text-center">
                        <input
                            type="email"
                            v-model.trim="inputs.email.value"
                            class="input"
                            :class="inputs.email.hasErrors ? 'border border-red' : ''"
                            placeholder="Email"
                            :autofocus="sendEmail"
                            autocomplete="email"
                            @keyup="revalidateInputs('email')"
                        >
                        <div v-if="inputs.email.hasErrors" class="text-left px-1">
                            <span v-for="(error, index) in inputs.email.errors" :key="index" class="text-xs text-red block leading-none my-1">
                                {{error}}
                            </span>
                        </div>
                    </div>
                    <div v-if="!sendEmail" class="mb-3 mx-4 text-center">
                        <input
                            type="password"
                            v-model.trim="inputs.password.value"
                            class="input"
                            :class="inputs.password.hasErrors ? 'border border-red' : ''"
                            placeholder="Password"
                            autocomplete="new-password"
                            :autofocus="!sendEmail"
                            @keyup="revalidateInputs('password', 'password_confirmation')"
                        >
                        <div v-if="inputs.password.hasErrors" class="text-left px-1">
                            <span v-for="(error, index) in inputs.password.errors" :key="index" class="text-xs text-red block leading-none my-1">
                                {{error}}
                            </span>
                        </div>
                    </div>
                    <div v-if="!sendEmail" class="mb-3 mx-4 text-center">
                        <input
                            type="password"
                            v-model.trim="inputs.password_confirmation.value"
                            class="input"
                            :class="inputs.password_confirmation.hasErrors ? 'border border-red' : ''"
                            placeholder="Password Confirmation"
                            autocomplete="new-password"
                            @keyup="revalidateInputs('password_confirmation')"
                        >
                        <div v-if="inputs.password_confirmation.hasErrors" class="text-left px-1">
                            <span v-for="(error, index) in inputs.password_confirmation.errors" :key="index" class="text-xs text-red block leading-none my-1">
                                {{error}}
                            </span>
                        </div>
                    </div>
                    <p v-if="form.hasErrors">
                        <span v-for="(error, index) in form.errors" :key="index" class="text-xs text-red block font-bold leading-none my-1">
                            {{error}}
                        </span>
                    </p>
                    <div class="mt-4">
                        <button class="btn btn-brown shadow-lg" @click.prevent="linkOrUpdate">{{sendEmail? 'Send Link' : 'Update Password'}}</button>
                    </div>
                </form>
            </div>
            <div class="pt-2">
                <a :class="sendEmail ? '' : 'text-red'" href="/login">{{sendEmail ? 'Try logging in?' : 'Cancel'}}</a>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import formValidator from '../concerns/form-validator'
import { emitError } from '../helpers'
import { getURLQueries } from '../helpers'

export default {
    name: 'password-reset-container',
    data() {
        return {
            queries: null,
            sendEmail: true,
            submissionAttempted: false,
            formValid: false,
            form:{
                errors:[],
                hasErrors: false
            },
            inputs: {
                email: {
                    value: '',
                    validation: ['email'],
                    errors: [],
                    hasErrors: false
                },
                password: {
                    value: '',
                    validation: ['min:6', 'lower:1', 'upper:1', 'number:1', 'special:1'],
                    errors: [],
                    hasErrors: false
                },
                password_confirmation: {
                    value: '',
                    validation: ['confirm:password'],
                    errors: [],
                    hasErrors: false
                }
            }
        }
    },
    created(){
        this.queries = getURLQueries()
        this.queries.hasOwnProperty('token') ? this.sendEmail = false : null
        this.sendEmail ? null : this.inputs.email.value = this.queries.email
    },
    methods: {
        /**
         * Revalidate the inputs as they are being updated
         */
        revalidateInputs(...inputs){
            this.submissionAttempted ? new formValidator(this, inputs) : null
            this.form.hasErrors = false
            this.form.errors = []
        },

        /**
         *Direct to the password rest link method or the password update method

         * @returns {Void}
         */
        linkOrUpdate(){
            let fieldsToValidate = this.sendEmail ? ['email'] : []
            new formValidator(this, fieldsToValidate)
            if(this.formValid){
                this.sendEmail ? this.sendPasswordResetLink() : this.updatePassword()
            }
        },

        /**
         * Send password reset link
         * 
         * @returns {Void}
         */
        sendPasswordResetLink(){
            axios.post('/password/email', {
                email: this.inputs.email.value,
            }).then(R => {
                this.emailSent = true
            }).catch(E => {
                this.addServerSideErrors(E)
            })
        },

        /**
         * Update the DB with the new password
         * 
         * @returns {void}
         */
        updatePassword(){
            axios.post('/password/reset', {
                email: this.inputs.email.value,
                password: this.inputs.password.value,
                password_confirmation: this.inputs.password_confirmation.value,
                token: this.queries.token
            }).then(R => {
                location.href = '/home'
            }).catch(E => {
                this.addServerSideErrors(E)
            })
        },

        /**
         * Add serverside errors 
         * 
         * @returns {Void}
         */
        addServerSideErrors(E){
            emitError(E)
            for (const [input, inputProperties] of Object.entries(this.inputs)){
                if(E.response.data.errors.hasOwnProperty(input)){
                    this.inputs[input].errors = E.response.data.errors[input]
                    this.inputs[input].hasErrors = true
                    this.inputs[input].originalValue = JSON.parse(JSON.stringify(this.inputs[input].value))
                    this.formValid = false
                }
            }
            if(E.response.data.errors.hasOwnProperty('form')){
                this.form.errors = E.response.data.errors.form
                this.form.hasErrors = true
            }
        }
    }
}
</script>
