<template>
    <div class="h-1 w-full rounded-t-full">
        <!-- Show if there is at least 1 like or dislike -->
        <div class="relative animate h-1 w-full rounded-full">
            <div :style="`width: ${dislikePercentage}%;`"
                 style="transform: rotate(180deg);"
                 :class="dislikePercentage == 100 ? 'rounded-b-full' : 'rounded-bl-full'"
                 class="animate w-full h-full bg-red rounded-bl-full float-right"
            ></div>
            <div
                :style="`width: ${likePercentage}%;`"
                :class="likePercentage == 100 ? 'rounded-t-full' : 'rounded-tl-full'"
                class="animate h-full bg-green"
            ></div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'poll-container',
    props: ['likes', 'dislikes'],
    computed: {
        /**
         * Calculate the percentage width of the green container
         * @returns {Number}
         */
        likePercentage(){
            let total = this.likes + this.dislikes;
            if(total){
                let fraction = this.likes / total;
                let percentage = fraction * 100;
                return percentage;
            }
            return 0;
        },

        /**
         * Calculate the percentage width of the green container
         * @returns {Number}
         */
        dislikePercentage(){
            let total = this.likes + this.dislikes;
            if(total){
                let fraction = this.dislikes / total;
                let percentage = fraction * 100;
                return percentage;
            }
            return 0;
        }
    }
}
</script>
