<template>
    <div id="post-interaction" class="mb-20">
        <div
            v-if="showScrollButton"
            class="fixed flex justify-center items-center bottom-0 right-0 m-4 w-10 h-10 text-brown rounded-full bg-white shadow-md z-50"
            @click="scrollToCommentSection">
            <chat-icon class="w-6 icon"></chat-icon>
        </div>

        <div class="card">
            <poll-container :likes="postData.likes_count" :dislikes="postData.dislikes_count"></poll-container>
            <!-- Post interaction body -->
            <div class="p-2">
                <!-- Buttons -->
                <div v-if="authenticated">
                    <div class="flex justify-around">
                        <span class="text-green" @click="likeOrDislike('like')">
                            <smile-icon :filled="post.liked" class="w-6 icon"></smile-icon>
                        </span>
                        <span class="text-red" @click="likeOrDislike('dislike')">
                            <frown-icon :filled="post.disliked" class="w-6 icon"></frown-icon>
                        </span>
                        <span @click="subscribeToPost">
                            <bell-icon :filled="post.subscribed" class="h-6 icon"></bell-icon>
                        </span>
                        <span @click="favouritePost">
                            <star-icon :filled="post.favourited" class="h-6 icon text-amber fill-current"></star-icon>
                        </span>
                        <span>
                            <plane-icon class="h-6 icon text-blue fill-current"></plane-icon>
                        </span>
                    </div>
                    <!-- CommentBox -->
                    <div class="my-2">
                        <textarea
                            class="bg-brown-lightest w-full rounded-lg p-2"
                            :class="inputs.comment.hasErrors ? 'border border-red': ''"
                            rows="5"
                            v-model.trim="inputs.comment.value"
                            placeholder="Leave a comment..."
                            @keyup="revalidateInputs('comment')"
                        ></textarea>
                        <div v-if="inputs.comment.hasErrors" class="text-left px-1">
                            <span v-for="(error, index) in inputs.comment.errors" :key="index" class="text-xs text-red block leading-none my-1">
                                {{error}}
                            </span>
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="text-grey">
                            {{post.comments_count ? post.comments_count > 1 ? `${post.comments_count} Comments` : '1 Comment' :''}}
                        </span>
                        <span class="btn btn-brown" @click="postComment">Comment</span>
                    </div>
                </div>
                <div v-else class=" text-center">
                    <span class="text-lg">Please <a :href="`/login?redirect=${post.path}#user-container`">login</a> or <a href="/login?register=true">register</a> to interact.</span>
                </div>
            </div>
        </div>
        <!-- Post comments -->
        <comment-container
            v-for="comment in comments"
            :key="comment.id"
            :initial-comment="comment"
            type="comment"
            @remove-deleted-comment="removeDeletedComment($event)"
        ></comment-container>
    </div>
</template>

<script>
import pollContainer from './poll-container'
import commentContainer from './comment-container'
import formValidator from '../concerns/form-validator'
import likeOrDislike from '../concerns/like-or-dislike'
import comment from '../concerns/comment'
import subscribe from '../concerns/subscribe'

import axios from 'axios'

export default {
    name: 'post-interaction',
    components: {
        pollContainer,
        commentContainer
    },
    props: ['post-data'],
    data(){
        return {
            authenticated: window.auth,
            post: this.postData,
            comments: this.postData.comments,
            form:{
                errors:[],
                hasErrors: false
            },
            inputs: {
                comment:{
                    value: '',
                    validation: ['required'],
                    errors: [],
                    hasErrors: false
                }
            },
            formValid: false,
            showScrollButton: true
        }
    },
    mounted(){
        /**
         * Listen for the page scroll event and show the scroll button accordingly
         */
        document.addEventListener('scroll', ()=>{
            this.showScrollButton =
            document.getElementById('user-container').offsetTop - window.scrollY > 500 ||
            window.scrollY - document.getElementById('user-container').offsetTop > 1000
        })
    },
    methods: {
        /**
         * Revalidate the inputs as they are being updated
         */
        revalidateInputs(...inputs){
            this.submissionAttempted ? new formValidator(this, inputs) : null
            this.form.hasErrors = false
            this.form.errors = []
        },

        /**
         * Persist new comment to the DB
         * @returns {void}
         */
        postComment(){
            new formValidator(this)
            this.formValid ? new comment (this, 'post') : null
        },

        /**
         * Persist like or dislike state to the DB
         * @returns {void}
         */
        likeOrDislike(target){
            new likeOrDislike(this, 'post', target)
        },

        /**
         * Persist subscription state to DB
         * @returns {void}
         */
        subscribeToPost(){
            new subscribe(this, 'post')
        },

        /**
         * Update the DB with the favourite state and update the DOM
         * @returns {Void}
         */
        favouritePost(){
            let url = this.post.favourited ? '/unfavourite' : '/favourite'
            axios.post(url, {
               post_id: this.post.id
            })
            this.post.favourited = !this.post.favourited
        },

        /**
         * This method is triggered when one of the post's comment
         * emmits an event informing of its deletion
         * Update the DOM to match the DB
         * @returns {Void}
         */
        removeDeletedComment(deletedCommentId){
            this.comments = this.comments.filter(comment => {
                return comment.id !== deletedCommentId
            })
        },

        /**
         * Stroll to the post interaction section of the post
         *
         * @returns {Void}
         */
        scrollToCommentSection(){
            document.getElementById('user-container').scrollIntoView()
        }
    }
}
</script>
