<template>
    <div class="h-screen w-screen bg-brown-lightest top-0 right-0 z-40 fixed py-12">
        <!-- Search input -->
        <div class="w-full mt-2 px-4">
            <input type="text" class="search-input w-full" placeholder="Search..." autofocus v-model.trim="searchPhrase">
        </div>
        <!-- Result selecters -->
        <div class="flex justify-around mt-4 mb-2">
            <span
                v-if="results.authors.length"
                class="text-xs font-bold"
                :class="authorsActive || results.authors.length && !results.posts.length ? 'text-brown' : 'text-grey'"
                @click="showAuthors"
            >
                AUTHORS ({{results.authors.length}})
            </span>
            <span
                v-if="results.posts.length"
                class="text-xs font-bold"
                :class="postsActive || results.posts.length && !results.authors.length ? 'text-brown' : 'text-grey'"
                @click="showPosts"
            >
                POSTS ({{results.posts.length}})
            </span>
        </div>
        <div v-if="results.authors.length || results.posts.length" class="phone-scroll">
            <!-- Authors -->
            <div v-if="authorsActive || results.authors.length && !results.posts.length" class="results-container">
                <div class="mx-4 mb-4 flex items-center bg-white shadow-xl rounded-lg p-2"
                    v-for="author in results.authors"
                    :key="author.id"
                        @click="goToProfile(author.id)"
                >
                    <img :src="author.avatar" alt="author Avatar" class="w-12 mr-2">
                    <div class="flex flex-col leading-none font-thin">
                        <a :href="author.path"><span>{{author.fullname}}</span></a>
                        <span class="text-sm">Paris, {{author.profile ? author.profile.country : 'Unknown'}}</span>
                        <span class="text-sm">{{author.profile ? author.profile.occupation : 'Unknown'}}</span>
                    </div>
                </div>
            </div>
            <!-- Posts -->
            <div v-if="postsActive || results.posts.length && !results.authors.length" class="w-full px-4 results-container">
                <abstract-container v-for="post in results.posts" :key="post.id" :post="post"/>
            </div>
        </div>
        <div v-else>
            <p class="text-center text-xl text-grey">You can search for authors and posts</p>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import abstractContainer from './abstract-container'
export default {
    name: 'search-container',
    components: {abstractContainer},
    data() {
        return {
            searchPhrase: '',
            results: {
                authors: [],
                posts: []
            },
            authorsActive: true,
            postsActive: false
        }
    },
    watch: {
        /**
         * listen for chanches to the searchPhrase
         * @param {String} value
         */
        searchPhrase(value){
            let phrase = value.trim()
            phrase ? this.search(phrase) : null
        }
    },
    methods: {
        /**
         * Query the DB and assign the results
         * @param {String}
         * @returns {Void}
         */
        search(phrase){
            axios.post('/search', {phrase}).then(R => {
                this.results = R.data
            })
        },
        /**
         * Show the post results
         * @returns {Void}
         */
        showPosts(){
            this.authorsActive = false
            this.postsActive = true
        },
        /**
         * Show author results
         * @returns {Void}
         */
        showAuthors(){
            this.postsActive = false
            this.authorsActive = true
        },
        /**
         * Redirect to the selected profile page
         * @param {Int} authorId
         * @returns {Void}
         */
        goToProfile(authorId){
            location.href = `${location.origin}/profile/${authorId}`
        }
    }
}
</script>