<template>
    <div id="user-container" class="w-full bg-white shadow-lg rounded-lg my-6 p-4 flex flex-col items-center">
        <!-- Author's avatar -->
        <a :href="user.path"><img :src="user.avatar" alt="Author avatar" :class="type === 'menu' ? 'h-24 w-24' : 'h-16 w-16'"></a>
        <!-- Author's name -->
        <p v-if="type === 'menu'">Hello {{user.firstname}}!</p>
        <a v-else :href="user.path"><h3 class="mt-2 text-brown">{{user.fullname}}</h3></a>
        <!-- Follow and message the author -->
        <div class="mt-1" v-if="!postOwner && authenticated && type !== 'menu'">
            <button @click="follow" :class="user.followed ? 'btn-outline-green' : 'btn-green'" class="btn">
                {{user.followed ? 'Unfollow' : 'Follow'}}
            </button>
            <button class="btn btn-outline-black">Message</button>
        </div>
        <div v-else>
            <div v-if="authenticated" class="mt-2">
            <a :href="user.path">
                <button class="btn btn-green">View Profile</button>
            </a>
        </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { emitError } from '../helpers'

export default {
    name: 'user-container',
    props: ['user-info', 'post-owner', 'type'],
    data(){
        return {
            user: this.userInfo,
            authenticated: window.auth
        }
    },
    methods: {
        /**
         * Update the DB and DOM
         * @returns {Void}
         */
        follow(){
            if(this.user.followed){
                axios.delete(`/follow/${this.user.id}`)
                    .then(R => {
                        this.user.followed = !this.user.followed
                    })
                    .catch(E => {
                        emitError(E)
                    })
            }else{
                axios.get(`/follow/${this.user.id}`)
                    .then(R => {
                        this.user.followed = !this.user.followed
                    })
                    .catch(E => {
                        emitError(E)
                    })
            }
        }
    }
}
</script>
