<template>
    <div>
        <!-- Create toolbar container -->
        <div id="toolbar" class="shadow-lg rounded-lg text-brown border-none">
            <!-- Add font size dropdown -->
            <select class="ql-size">
                <option value="small"></option>
                <!-- Note a missing, thus falsy value, is used to reset to default -->
                <option selected></option>
                <option value="large"></option>
            </select>
            <!-- Add a bold button -->
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
            <button
                class="ql-list"
                value="ordered"
                type="button"
            >
                <svg viewBox="0 0 18 18">
                    <line class="ql-stroke" x1="7" x2="15" y1="4" y2="4"></line>
                    <line class="ql-stroke" x1="7" x2="15" y1="9" y2="9"></line>
                    <line class="ql-stroke" x1="7" x2="15" y1="14" y2="14"></line>
                    <line class="ql-stroke ql-thin" x1="2.5" x2="4.5" y1="5.5" y2="5.5"></line>
                    <path class="ql-fill" d="M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z"></path>
                    <path class="ql-stroke ql-thin" d="M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156"></path>
                    <path class="ql-stroke ql-thin" d="M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109"></path>
                </svg>
            </button>
            <button
                class="ql-list"
                value="bullet"
                type="button"
            >
                <svg viewBox="0 0 18 18">
                    <line class="ql-stroke" x1="6" x2="15" y1="4" y2="4"></line>
                    <line class="ql-stroke" x1="6" x2="15" y1="9" y2="9"></line>
                    <line class="ql-stroke" x1="6" x2="15" y1="14" y2="14"></line>
                    <line class="ql-stroke" x1="3" x2="3" y1="4" y2="4"></line>
                    <line class="ql-stroke" x1="3" x2="3" y1="9" y2="9"></line>
                    <line class="ql-stroke" x1="3" x2="3" y1="14" y2="14"></line>
                </svg>
            </button>
            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
            <button class="ql-blockquote"></button>
            <button class="ql-code-block"></button>
            <button class="ql-image"></button>
            <button class="ql-link"></button>
        </div>

        <div ref="wysiwyg"></div>
    </div>
</template>

<script>
    import Quill from 'quill'

    export default {
        name: "wysiwyg-container",
        data() {
            return {
                value: ''
            }
        },
        computed:{
            editor(){
                return this.$refs.wysiwyg
            }
        },
        mounted() {
            new Quill(this.$refs.wysiwyg, {
                modules: {
                    toolbar:'#toolbar'
                },
                placeholder: 'Share your opinion!',
                theme: 'snow'
            });
            console.log(this.editor)
            this.editor.root.innerHTML = this.value;
            this.editor.on('text-change', () => this.update());
        },
        methods: {
            update() {
                this.$emit('body-updated', this.editor.getText() ? this.editor.root.innerHTML : '');
            }
        }
    }
</script>
